:root {
    --primary-color: #ffffff;
    --secondary-color: #3474ff;
    --accent1-color: #f5a623;
    --accent2-color: #000000;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 50px 1fr;
    margin: 0 auto;
    align-items: center;
    max-width: 800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color)
}

header, main, footer {
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav {
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

header nav a {
    padding: 20px;
    text-decoration: none;
    border: 1px solid black;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero div {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article {
    width: 100%;
    padding: 16px;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    top: 850px;
    margin: 0 auto;
    position: absolute;
}

h2 {
    text-align: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    width: 100%;
    padding: 16px;
    border-radius: 15px;
}

.hero article img {
    float: right;
    width: 150px;
}

.socialmedia img {
    width: 100px;
    padding: 10px;
}

footer {
    border-top: 1px dotted black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.history {
    display: flex;
    padding: 10px;
}

.history img {
    width: 300px;
    height: auto;
}

.adventure {
    display: flex;
    justify-content: center;
}

.adventure img {
    width: 200px;
    padding: 10px;
}