:root {
    --primary-color: #ffffff;
    --secondary-color: #2167FF;
    --accent1-color: #007918;
    --accent2-color: #000000;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 50px 1fr;
    margin: 0 auto;
    align-items: center;
    max-width: 800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color)
}

header, main, footer {
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav {
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

header nav a {
    padding: 20px;
    text-decoration: none;
    border: 1px solid black;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero div {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.overlay {
    position: absolute;
    top: 350px;
    right: 130px;
    color: white;
    text-align: center;
    font-size: 50px;


}

.hero article {
    width: 100%;
    padding: 16px;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    top: 850px;
    margin: 0 auto;
    position: absolute;
}

h2 {
    text-align: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    width: 100%;
    padding: 16px;
    border-radius: 15px;
}

.hero article img {
    float: right;
    width: 150px;
}

.socialmedia img {
    width: 100px;
    padding: 10px;
}

footer {
    border-top: 1px dotted black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.history {
    display: flex;
    padding: 10px;
}

.history img {
    width: 300px;
    height: auto;
}

.adventure {
    display: flex;
    justify-content: center;
}

.adventure img {
    width: 200px;
    padding: 10px;
}

.centeredtext {
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.main label {
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.main button {
    width: 150px;
    margin-left: 20px;
}

.spacing {
    margin: 10px 0px;
}

iframe {
    width: 50%;
    height: 30rem;
}

.form input {
    height: 3rem;
}

.title {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.contact {
    display: flex;
    justify-content: center;
}

table {
    max-height: 400px;
    width: 500px;
    padding: 20px;
}

.shorttext {
    height: 2rem;
}

table button[type=submit] {
    width: 50%;
    height: 2rem;
}

.other {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.other img {
    width: 300px;
    height: auto;
}

.other figure {
    grid-row: 1
}

.trips {
    text-align: center;
    display: grid;
    justify-content: center;
    margin-top: 30px;
}

.trips figcaption {
    width: 1000px;
}

.adventures {
    margin: 50px auto;
    border-collapse: collapse;
}

.adventures td, th {
    border: 1px solid black;
    padding: 5px;
}