* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header, main {
    text-align: center;
}

form {
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    display: grid;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1rem;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: rgb(24, 24, 255);
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: rgb(61, 61, 255);
}