* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    text-align: center;
    border: 2px solid gray;
    border-collapse: collapse;
}

thead, tfoot {
    background-color: black;
    color: white;
}

th, td {
    border: 1px solid gray;
    padding: 5px 10px;
}

td[rowspan] {
    font-weight: bold;
}