:root {
    --standard: black;
    --image-border: 1px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: var(--image-border) solid var(--standard);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
    color: var(--standard)
}

main {
    max-width: 700px;
}

aside {
    width: 500px;
    margin: 20px;
    border: var(--image-border) solid var(--standard);
    padding: 10px;
    background-color: rgb(255, 228, 228);
    color: var(--standard);
}

main img {
    width: 150px;
    height: auto;
    border: var(--image-border) solid var(--standard);
    padding: 2px;
    box-shadow: 0 0 30px gray;

}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 50px;
    border-top: 1px dashed var(--standard);
    text-align: center;
}