* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Elms Sans", sans-serif;
}

:root {
    --standard: black;
    --image-border: 1px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: var(--image-border) solid var(--standard);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
    color: var(--standard);
    margin: 1rem;
}

main {
    max-width: 700px;
}

aside {
    width: 300px;
    margin: 20px;
    border: var(--image-border) solid var(--standard);
    padding: 10px;
    background-color: rgb(255, 228, 228);
    color: var(--standard);
    position: relative;
}

main img {
    width: 150px;
    height: auto;
    border: var(--image-border) solid var(--standard);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;

}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 70px;
}

footer {
    margin-top: 50px;
    border-top: 1px dashed var(--standard);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}